body {
    margin: 0;
    overflow: hidden;
}

.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
}

.star {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: disappear 3s linear infinite;
}

@keyframes disappear {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}