* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: #0E0F11;
    text-align: center;
    /* overflow-y: hidden;
    overflow-x: hidden; */
}

socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5vh;
    transition: 0.5s;
}

socials:hover {
    transform: scale(1.2);
    transition: 0.5s;
}

strong-color {
    color: #6d63f7;
}

header-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100vh;
    margin-left: 7.5vw;
    width: 45%;
}

a {
    display: flex;
    text-decoration: none;
}

.section-header {
    color: #fff;
    font-size: 5rem;
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
}

.section-desc {
    color: #c4c4c4;
    font-size: 1.5rem;
    padding-top: 2.5vh;
    margin-left: 3.5rem;
    text-align: left;
    position: relative;
}

header-img {
    position: absolute;
    right: 0;
    top: 30vh;
    margin: 0 15rem;
    transition: 0.5s;
}

header-img:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.btn {
    background-color: #6d63f7;
    color: rgb(243, 235, 235);
    border: none;
    border-radius: 10vh;
    width: 15rem;
    justify-content: center;
    padding: 1.5rem 2rem;
    margin-top: 2.5vh;
    margin-left: 10rem;
    font-size: 1.5rem;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.btn:hover {
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 0 0 0 0.5rem #6d63f74f;
}

skills-section {
    display: flex;
    height: 100vh;
}

arrow-up {
    position: absolute;
    right: 0;
    margin-right: 2.5vw;
    margin-top: 6vh;
    transition: 0.5s;
}

arrow-up:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

front-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: #6d63f7;
    transition: 0.5s;
}

.front-end-header {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2.5vh;
}

hr {
    width: 50%;
    border: 0.5px solid #fff;
    margin-bottom: 2.5vh;
}

.front-end-languages {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10vh;
}

language {
    position: flex;
    margin-left: 1vw;
}

.language {
    display: inline-flex;
}

front-end-desc-section {
    display: flex;
    margin: 5vh;
}

back-end {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: #0E0F11;
    transition: 0.5s;
}

.back-end-header {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2.5vh;
}

.back-end-languages {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10vh;
}

back-end-desc-section {
    display: flex;
    margin: 5vh;
}

arrow-down {
    position: absolute;
    right: 0;
    margin-right: 2.5vw;
    margin-top: 94vh;
    transition: 0.5s;
}

arrow-down:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

projects-section {
    display: flex;
    height: 100vh;
}

project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0E0F11;
    transition: 0.5s;
}

project-header {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2.5vh;
}

project-desc-section {
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 5vh;
    text-overflow: auto;
    max-width: 25vw;
}

.hr-project {
    width: 50%;
    border: 0.5px solid #fff;
    margin-bottom: 2.5vh;
    color: #6d63f7
}

.login-button {
    position: absolute;
    top: 2.5vh;
    right: 2.5vw;
    z-index: 1000;
}

.login-button a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.5s;
}

.login-button a:hover {
    color: #6d63f7;
}

github-button {
    transition: 0.5s;
}

github-button:hover {
    transform: scale(1.2);
    transition: 0.5s;
}