body {
    font-family: Arial;
    margin: 0;
    background-color: #0E0F11;
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
}

.login-form label {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.login-form input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #6d63f7;
    border-radius: 5px;
    background-color: #0E0F11;
    color: #fff;
}

.login-form button {
    background-color: #6d63f7;
    color: rgb(243, 235, 235);
    border: none;
    border-radius: 10vh;
    width: 10rem;
    justify-content: center;
    padding: 1rem 2rem;
    margin-top: 2.5vh;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
}

.login-form button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 0 0.5rem #6d63f74f;
}

.back-button {
    position: absolute;
    top: 2.5vh;
    right: 2.5vw;
    z-index: 1000;
}

.back-button a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.5s;
}

.back-button a:hover {
    color: #6d63f7;
}